/*Сброс стилей*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
html{height:100%}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
/*Конец сброса стилей*/

/*Общие настройки*/
@font-face {
	font-family: 'Yahfie'; 
	src: url("../fonts/20686.ttf"); 
}

body {
	background-color: black;
	background-image: url("../images/mainBg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	font-size: 32px;
	font-family: 'Yahfie';
	line-height: 61px;
	font-weight: 600px;
	box-sizing:border-box;
}
/*Конец общих настроек*/

section {
	width: 1900px;
}


/*Начало стилей первого блока*/
.firstBlock {
	overflow: hidden;
	width: 100%;
	height: 1030px;
	margin-bottom: 50px;
}

.firstBlockWrapper {
	padding: 0 450px;
}

.firstBlockConteiner {
	transition: 1s;
	height: 100%;
	position: relative;
	display: inline-block;
}

.firstBlockBG {	
	width: 100%;
	transform: scale(1.01);
}

.firstBlockText {
	position: absolute;
	top: 0;
	width: 1030px;
	text-align: center;
	font-size: 64px;
	padding: 250px 0;
}

.firstBlockAge {
	margin-bottom: 34px;
	font-size: 96px;
}

.itachiImg {
	transition: 1s;
	position: absolute;
	transform: scale(0.9);
	right: 300px;
	top: 350px;
	opacity: 0%;
}

.firstBlockConteiner:hover {
	transform: scale(1.01);
}
/*Конец стилей первого блока*/


/*Начало стилей второго блока*/
.second_block {
	text-align: center;
	margin-bottom: 50px;
}

.secondBlockContainer {
	box-sizing:border-box;
	position: relative;
	color: black;
	font-size: 56px;
	line-height: 61px;
}

.pirateBg {
	height: 967px;
}

.adBlock {
	box-sizing:border-box;
	top: 0;
	transition: 1s;
	position: absolute;
	padding-top: 65px;
	padding-left: 270px;
	width: 100%;
	height: 100%;
}

.ASSheadPirate {
	float: left;
}

.adText {
	margin-left: 650px;
	width: 755px;
	border-spacing: 10px;
}

.pirateBg:hover {
	background-color: rgba(0, 0, 0, .15);
}
/*Конец стилей второго блока*/


/*Начало стилей третьего блока*/
.third_block {
	width: 100%;
	margin-left: -1px;
	margin-bottom: 50px;
}

.thirdBlockContainer {
	position: relative;
	width: 100%;
	height: 1090px;
}

.sliderContainer {
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.sliderTrack {
	width: 11880px;
	height: 550px;
	display: flex;
	position: relative;
	left: 0;
	transition: all ease 1s;
}

.sliderItem {
	width: 100%;
	box-sizing: border-box;
	height: 1090px;
	text-align: center;
	font-size: 62px;
	padding: 300px 300px;
}

#Title {
	padding-top: 500px;
	background-image: url("../images/title.png");
}

#CUMil {
	background-image: url("../images/cumil.png");
}

#MtWay {
	background-image: url("../images/MtWay.png");
}

#Julia {
	background-image: url("../images/julia.png");
}

#Emilian {
	padding-top: 500px;
	background-image: url("../images/emilien.png");
}
/*Конец стилей третьего блока*/


/*Начало стилей четвертого блока*/
.fourth_block {
	width: 100%;
	height: 1090px;
}

.fourthBlockContainer {
	box-sizing:border-box;
	background-image: url("../images/fourth block.png");
	background-attachment: fixed;
	letter-spacing: 1px;
	height: 100%;
	padding: 90px 200px;
	text-align: center;
	font-size: 56px;
}

.fourthBlockText {
	background-color: rgba(0, 0, 0, .6);
	padding: 40px;
}
/*Конец стилей четвертого блока*/
